h1{
    font-size: 4pc;
    color: black;
    border-top: rgb(140, 202, 218);
    box-sizing: 5px;
    background-color: #adf0f0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 25%;
}

section{
    font-size: 2pc;
    margin-left: 25%;
}
body{
    background-color: #adf0f0;
    text-align: center;
    text-size-adjust: 3px;
}
header{
    font-size: large;

}